body {
    position: relative;
    font-family: 'Russo One', sans-serif;
}
.jumbotron
{
  text-align: center;
  background-position: center center;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("ironman.jpg");
  background-size: cover;
  margin-top: 50px;
  height: 400px;
  color: white;
}

#section1 {padding-top:50px;height:auto;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
#section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
#section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}

#section1,#section2,#section3
{
  text-align: center;

}
#section1 .image img
{
  width: 200px;
  max-height: 200px;
  border-radius: 150px;

}
#section1 .content
{

}
#section1  span
{
  color: orange;
}
.progress-bar
{
background:green;

}
.progress-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 10px;
  background: #ccc;
}

.progress-barr {
  height: 10px;
  background: #4caf50;
  width: 0%;
}
